.title__wrap {
    background-image: url('https://images.hdqwalls.com/download/blade-runner-2049-cyberpunk-alley-4k-mm-1680x1050.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 40vh;
    min-height: 300px;
    box-shadow: inset 0 -2rem 2rem 0 rgb(0 0 0);
    padding: 5rem 10% 1.5rem 10%;
    color: white;
}

.search-form {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.input-search {
    display: inline-block;
    width: 90%;
    border: none;
    padding: 1rem;
}

.input-search:focus {
    outline-style: none;
}

.btn-search {
    background: linear-gradient(130deg, #61ebfa 0%, #8d1cf7 100%);
    transition: all 0.5s linear;
    color: white;
    display: inline-block;
    width: 30%;
    border: none;
    padding: 1rem;
}

.btn-search:hover {
    background: linear-gradient(130deg, #26c1d2 0%, #5e06b0 100%);
    cursor: pointer;
}

.title__wrap h1 {
    font-size: 3rem;
    margin-bottom: 0;
}

.title__wrap h2 {
    margin-top: 0;
    font-weight: 300;
}


/* TRENDING */

.trending__wrap {
    background-color: black;
    padding: 1.5rem 2rem;
}

.trending__wrap-title {
    margin: 0;
    color: white;
    padding: 1rem 0;
    font-weight: 300;
    font-size: 2rem;
}

.trending__wrap-list {
    display: flex;
    gap: 2rem;
}

/* TRENDING card*/