.trending__card-img:hover {
    cursor: pointer;
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 0 0 1rem rgb(62, 204, 229);
    box-sizing: border-box;
}

.trending__card-img {
    width: 165px;
    height: 242px;
    border-radius: 0.75rem;
    margin: 15px;
    margin-bottom: 0;
}

.trending__card-vote {
    position: relative;
    bottom: 20px;
    left: 10px;
    border-radius: 2rem;
    width: 55px;
    height: 35px;
    background-color: rgb(35, 35, 35);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trending__card-details {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    width: 150px;
    color: gray;
    font-size: 0.65rem;
    margin-right: 0;
}

.trending__card-details h2 {
    color: rgb(255, 255, 255);
    margin-top: 0;
}

.trending__card-details p {
    color: gray;
    font: 300;
}