.collection {
    background-color: black;
}

.collection h2 {
    margin: 0;
    color: white;
    padding: 0 2rem;
    font-weight: 300;
    font-size: 2rem;
    width: 100%;
}

.collection__list {
    display: flex;
    gap: 2rem;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding: 2rem;
    background-color: black;
    flex-wrap: wrap;
    justify-content: center;
}

.collection__card-title {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 200px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 1rem;
    box-sizing: border-box;
    color: rgb(134, 134, 134);
    font-weight: 600;
    font-size: 1.25rem;
    transition: 0.5s;
    flex-grow: 0;
    width: 30%;
    min-width: 300px;
}

.collection__card-title:hover {
    cursor: pointer;
    color: white;
    transform: scale(1.05);
}