.collection {
    background-color: black;
}

.collection h2 {
    margin: 0;
    color: white;
    padding: 0 2rem;
    font-weight: 300;
}

.collection__list {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1.5rem;
    grid-row-gap: 1rem;
    justify-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: black;
}

.collection___card {}

.collection__card-img {
    width: 100%;
    height: auto;
}

.collection__card-title {
    color: white;
    background-color: rgba(255, 255, 255, 0.36);
}