.search-page__title {
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.search-page__background {
    width: 100%;
}

.search-page__details {
    padding: 0 10%;
    background-color: rgba(0, 0, 0, 0.499);
    color: white;
}

.search-page__details h2 {
    letter-spacing: 0.75rem;
    font-weight: 600;
    font-size: 3rem;
    color: rgba(205, 251, 253, 0.866);
    text-shadow: rgb(53, 255, 252) 0 0 2rem;
    border: 0.5rem solid rgb(205, 251, 253);
    box-shadow: rgb(53, 255, 252) 0 0 1.5rem;
    padding: 0.75rem;
    border-radius: 2rem;
    width: fit-content;
}

.search-page__details p {
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 0;
}

.search-page__list {
    display: flex;
    flex-direction: row;
    padding: 3rem;
    gap: 2rem;
    justify-content: center;
    background-color: black;
    flex-wrap: wrap;
}

.trailer {
    height: 100vh;
}

.button-trailer {
    background-color: transparent;
    border: 0.25rem solid rgb(205, 251, 253);
    padding: 0.75rem;
    color: rgba(205, 251, 253, 0.866);
    letter-spacing: 0.25rem;
    font-weight: 600;
    border-radius: 1.15rem;
    transition: 500ms;
    width: 200px;
    margin: 0.75rem auto;
}

.button-trailer:hover {
    background-color: rgba(0, 128, 119, 0.279);
    box-shadow: rgb(53, 255, 252) 0 0 2rem;
    cursor: pointer;
}

.search-page__details-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 1rem;
}

.load-more-section {
    background-color: black;
    display: flex;
    justify-content: center;
}

.load-more-button {
    color: white;
    background-color: transparent;
    width: 150px;
    margin-bottom: 2rem;
}

.load-more-button:hover {
    color: rgb(82, 82, 82);
    cursor: pointer;
}

.search-page__results {
    padding: 0 10%;
    background-color: black;
    color: white;
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0;
    padding-top: 1rem;
}